@{
    var layoutModel = (LayoutModel)ViewBag.LayoutModel;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="/css/Layout.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"  />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css" />
    @RenderSection("Styles", required: false)

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.5/js.cookie.min.js"></script>
</head>
<body>

    <header>
        <div class="left">
            <a class="site-name" href="#">
                Е-навчання
            </a>
        </div>
        <div class="center"></div>
        <div class="right">
            @Html.LanguageSelectList(layoutModel.Language)
            <p class="user-info">Артем Бабенко</p>
        </div>
    </header>

    <nav class="main-nav">
        <div class="links">
            <a asp-action="@nameof(OverviewController.OverviewPage)" 
                asp-controller="@nameof(OverviewController).ToControllerName()">

                @TranslateResources.OVERVIEW
            </a>
            <a asp-action="@nameof(EducationController.EducationPage)"
               asp-controller="@nameof(EducationController).ToControllerName()">

            </a>
            <a asp-action="@nameof(TaskController.TasksPage)"
               asp-controller="@nameof(TaskController).ToControllerName()">

               @TranslateResources.TASKS
            </a>
            <a asp-action="@nameof(CalendarController.CalendarPage)"
               asp-controller="@nameof(CalendarController).ToControllerName()">

            </a>
            <a asp-action="@nameof(ChatController.ChatPage)" 
                asp-controller="@nameof(ChatController).ToControllerName()">

            </a>
            <a asp-action="@nameof(LibruaryController.LibruaryPage)"
               asp-controller="@nameof(LibruaryController).ToControllerName()">

            </a>
            <a asp-action="@nameof(CabinetController.CabinetPage)"
               asp-controller="@nameof(CabinetController).ToControllerName()">

            </a>
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>

    <script src="~/js/Layout.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
