@{
    var layoutModel = (LayoutModel)ViewBag.LayoutModel;

    var languages = Enum.GetValues<eLanguages>()
        .Cast<eLanguages>()
        .Select(language => new SelectListItem() {
            Text = language.GetDescription(),
            Value = language.ToString(),
            Selected = language == layoutModel.Language
        });
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/css/Layout.min.css" rel="stylesheet" asp-append-version="true" />
    @RenderSection("Styles", required: false)
</head>
<body>

    <header>
        <div class="left">
            <a class="site-name" href="@Url.Action(nameof(EducationalPlatformController.Index))">
                Е-навчання
            </a>
        </div>
        <div class="center"></div>
        <div class="right">
            @Html.DropDownList("languageSelect", languages, new { @class = "site-language-select" });
            <p class="user-info">Артем Бабенко</p>
        </div>
    </header>

    <div>
        @RenderBody()
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.5/js.cookie.min.js"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
