@{
    var layoutModel = (LayoutModel)ViewBag.LayoutModel;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="/css/Layout.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"  />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css" />
    @RenderSection("Styles", required: false)

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.5/js.cookie.min.js"></script>
</head>
<body>
    <section class="left-section">
        <a class="site-name" href="#">Cite name</a>
        <nav class="links">
            <a asp-action="@nameof(OverviewController.OverviewPage)"
               asp-controller="@nameof(OverviewController).ToControllerName()">
                <i class="ri-apps-line"></i>
                @TranslateResources.OVERVIEW
            </a>
            <a asp-action="@nameof(EducationController.EducationPage)"
               asp-controller="@nameof(EducationController).ToControllerName()">
                <i class="ri-graduation-cap-line"></i>
                @TranslateResources.EDUCATION
            </a>
            <a asp-action="@nameof(TaskController.TasksPage)"
               asp-controller="@nameof(TaskController).ToControllerName()">
                <i class="ri-list-check-3"></i>
                @TranslateResources.TASKS
            </a>
            <a asp-action="@nameof(CalendarController.CalendarPage)"
               asp-controller="@nameof(CalendarController).ToControllerName()">
                <i class="ri-calendar-line"></i>
                @TranslateResources.CALENDAR
            </a>
            <a asp-action="@nameof(ChatController.ChatPage)"
               asp-controller="@nameof(ChatController).ToControllerName()">
                <i class="ri-message-2-line"></i>
                @TranslateResources.CHAT
            </a>
            <a asp-action="@nameof(LibruaryController.LibruaryPage)"
               asp-controller="@nameof(LibruaryController).ToControllerName()">
                <i class="ri-book-2-line"></i>
                @TranslateResources.LIBRUARY
            </a>
            <a asp-action="@nameof(CabinetController.CabinetPage)"
               asp-controller="@nameof(CabinetController).ToControllerName()">
                <i class="ri-id-card-line"></i>
                @TranslateResources.CABINET
            </a>
        </nav>
    </section>

    <section class="right-section">
        <header class="main-header">
            <h3 class="page-name">@ViewBag.Title</h3>
            @Html.LanguageSelectList(layoutModel.Language)
        </header>

        <main class="main-section">
            @RenderBody()
        </main>
    </section>

    <script src="~/js/Layout.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
